{% extends "layout.html" %}
{% block title %}
{% if model.environment != 'production' %}[{{ model.environment }}]{% endif %}
Tasko
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Tasko</h1>
  <p class="lead">Just another to-do app.</p>
  {% include "new_task_form.html" %}
</div>

<hr />

<h2 class="text-center" style="margin: 40px 0 20px">Tasks</h2>

<form action="/" method="post">

  <div class="row" style="margin-bottom: 200px">
    <div class="col-lg">
      <h5 class="text-center">Open</h5>
      <ul class="list-group mb-4">
      {% if not model.uncompleted_items %}
      {% if model.completed_items %}
      <p class="text-secondary" style="margin: 20px 0">Hurrah! Looks like it's pub time 🍻</p>
      {% else %}
      <p class="text-secondary" style="margin: 20px 0">Time to start adding some tasks! ⏰</p>
      {% endif %}
      {% endif %}


      {% for item in model.uncompleted_items %}
      {% include "task.html" %}
      {% endfor %}
      </ul>

    </div>

    <hr />

    <div class="col-lg">

      <h5 class="text-center">Done</h5>
      <ul class="list-group mb-4">
        {% if not model.completed_items %}
        {% if model.uncompleted_items %}
        <p class="text-secondary" style="margin: 20px 0">Looks like you've got some work to do. Better knuckle down 💻</p>
        {% else %}
        <p class="text-secondary" style="margin: 20px 0">Time to start adding some tasks! ⏰</p>
        {% endif %}
        {% endif %}

        {% for item in model.completed_items %}
        {% include "task.html" %}
        {% endfor %}
      </ul>

    </div>

  </div>
</form>

{% endblock %}