{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

{% include "new_task_form.html" %}

<hr />

<h2 style="margin: 0 0 20px">Tasks</h2>

<form action="/" method="post">

  <div class="row">
    <div class="col-lg">
      <h5>Open</h5>
      {% if not uncompleted_items %}
      {% if completed_items %}
      <p class="text-secondary" style="margin: 20px 0">Hurrah! Looks like it's pub time 🍻</p>
      {% else %}
      <p class="text-secondary" style="margin: 20px 0">Time to start adding some tasks! ⏰</p>
      {% endif %}
      {% endif %}


      <ul class="list-group mb-4">
        {% for item in uncompleted_items %}
        <div class="container border rounded d-flex justify-content-between align-items-top" style="padding: 20px; margin: 10px 0">
          <div class="d-flex flex-column" style="padding-right: 20px;">

            <label for="{{ item.id }}" class="font-weight-bold">{{ item.name }}</label>
            {% if item.description %}
            <label for="{{ item.id }}" class="text-secondary">{{ item.description }}</label>
            {% endif %}
          </div>

          <div style="flex-shrink: 0;">
            <button class="btn btn-outline-success" formaction="/task/complete/{{ item.id }}">Complete</button>
            <button class="btn btn-outline-danger" formaction="/task/delete/{{ item.id }}">Delete</button>
          </div>
        </div>
        {% endfor %}
      </ul>

    </div>

    <hr />

    <div class="col-lg">

      <h5>Done</h5>
      <ul class="list-group mb-4">
        {% if not completed_items %}
        {% if uncompleted_items %}
        <p class="text-secondary" style="margin: 20px 0">Looks like you've got some work to do. Better knuckle down 💻</p>
        {% else %}
        <p class="text-secondary" style="margin: 20px 0">Time to start adding some tasks! ⏰</p>
        {% endif %}
        {% endif %}

        {% for item in completed_items %}
        <div class="container border rounded d-flex justify-content-between align-items-top" style="padding: 20px; margin: 10px 0">
          <div class="d-flex flex-column" style="padding-right: 20px;">

            <label for="{{ item.id }}" class="font-weight-bold">{{ item.name }}</label>
            {% if item.description %}
            <label for="{{ item.id }}" class="text-secondary">{{ item.description }}</label>
            {% endif %}
          </div>

          <div style="flex-shrink: 0;">
            <button class="btn btn-success" formaction="/task/uncomplete/{{ item.id }}">Task completed</button>
            <button class="btn btn-outline-danger" formaction="/task/delete/{{ item.id }}">Delete</button>
          </div>
        </div>
        {% endfor %}
      </ul>

    </div>

  </div>
</form>

{% endblock %}